extends layout

block main
    h1.display-4.text-center.my-4 Courses

    .main-content
        form
            if user.username === 'admin'
                a(class="btn btn-primary btn-lg btn-block" href="/admin/addCourse") Add New Course
                a(class="btn btn-primary btn-lg btn-block" href="/admin/removeCourse") Remove Course

            else
                if user.userType === 'student'
                    a(class="btn btn-primary btn-lg btn-block" href="/student/grades") Academic Record
                    
                a(class="btn btn-primary btn-lg btn-block" href="/student/registration") Register Course

            
        